

.boton-redondo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Asegúrate de que el ancho y el alto sean iguales */
    height: 60px; /* Asegúrate de que el ancho y el alto sean iguales */
    font-size: 24px; /* Tamaño de la fuente del icono */
    color: white;
    background-color: #df1a9d;
    text-decoration: none;
    border-radius: 50%;
    animation: latido 0.6s infinite;
}

@keyframes latido {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}